{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block banner %}
{% endblock %}
{% block maincontent  %}



<!-- Lets load up prefixfree to handle CSS3 vendor prefixes -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
<!-- You can download it from http://leaverou.github.com/prefixfree/ -->

<!-- Time for jquery action -->
<script src="http://thecodeplayer.com/uploads/js/jquery-1.7.1.min.js" type="text/javascript"></script>




<style type="text/css">

.widt {
 
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 150px;
    margin-left: 0px;

}


.buttonstyle {
    background-color: #E74C3C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -7px 22px;
    cursor: pointer;

}


.wellstyle {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 62px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
</style>





<style type="text/css">
  
/*Some CSS*/
* {margin: 0; padding: 0;}
.magnify {width: 200px; margin: 50px auto; position: relative;}

/*Lets create the magnifying glass*/
.large {
  width: 175px; height: 175px;
  position: absolute;
  border-radius: 100%;
  
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
  0 0 7px 7px rgba(0, 0, 0, 0.25), 
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /*Lets load up the large image first*/
  background: url('{{ object.image.url}}') no-repeat;

  
  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

</style>


<div class="service-sec">
     <div class="container">
         <div class="panel-body">
                    <div class="row ">

                    <div class="row">
                    <div class="col-md-8">
                    <h4>{{object.title|upper}} - </h4> <br>

                     <h3 align="left"><i class="fa fa-inr" aria-hidden="true">{{ object.amount }}</i></h3><br>
                    </div>

                    
             <!--            <div class="wellstyle col-md-4 ">
                            

                            <input class="col-md-2" type="integer" value="1" name="">

                            <a href="" class="buttonstyle"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add To Cart</a>
                                 </div> -->
                    

                    </div><br><br>
                        <div class="col-md-3 col-xs-12 col-sm-4 col-lg-3">
                            <div class="panel panel-default">

                            <div class="magnify">

  <!-- This is the magnifying glass which will contain the original/large version -->
                            <div class="large"></div>
                                <div class="panel-body" style="max-height:250px; ">
                            <img  class="small" src="{{MEDIA_URL}}{{ object.image.url}}" alt="" height="200" width="200">
                                </div>
                            </div>

                            </div>
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-md-6 col-xs-12 col-sm-8 col-lg-9">
                            <div class="panel">
                                <div class="panel-body">
                                <!-- <h4>{{object.title}} - </h4>  -->
                                
                      <!--           <div class="widt">

                                {{object.details}}
                                </div> -->
                                <h4>Overview</h4>
                                <br>{{object.overview}}
                                </div>
                             </div>
                         </div>

                    </div>
                 </div>




    </div>
</div>





<script type="text/javascript">$(document).ready(function(){

    var native_width = 0;
    var native_height = 0;

    //Now the mousemove function
    $(".magnify").mousemove(function(e){
        //When the user hovers on the image, the script will first calculate
        //the native dimensions if they don't exist. Only after the native dimensions
        //are available, the script will show the zoomed version.
        if(!native_width && !native_height)
        {
            //This will create a new image object with the same image as that in .small
            //We cannot directly get the dimensions from .small because of the 
            //width specified to 200px in the html. To get the actual dimensions we have
            //created this image object.
            var image_object = new Image();
            image_object.src = $(".small").attr("src");
            
            //This code is wrapped in the .load function which is important.
            //width and height of the object would return 0 if accessed before 
            //the image gets loaded.
            native_width = image_object.width;
            native_height = image_object.height;
        }
        else
        {
            //x/y coordinates of the mouse
            //This is the position of .magnify with respect to the document.
            var magnify_offset = $(this).offset();
            //We will deduct the positions of .magnify from the mouse positions with
            //respect to the document to get the mouse positions with respect to the 
            //container(.magnify)
            var mx = e.pageX - magnify_offset.left;
            var my = e.pageY - magnify_offset.top;
            
            //Finally the code to fade out the glass if the mouse is outside the container
            if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0)
            {
                $(".large").fadeIn(100);
            }
            else
            {
                $(".large").fadeOut(100);
            }
            if($(".large").is(":visible"))
            {
                //The background position of .large will be changed according to the position
                //of the mouse over the .small image. So we will get the ratio of the pixel
                //under the mouse pointer with respect to the image and use that to position the 
                //large image inside the magnifying glass
                var rx = Math.round(mx/$(".small").width()*native_width - $(".large").width()/2)*-1;
                var ry = Math.round(my/$(".small").height()*native_height - $(".large").height()/2)*-1;
                var bgp = rx + "px " + ry + "px";
                
                //Time to move the magnifying glass with the mouse
                var px = mx - $(".large").width()/2;
                var py = my - $(".large").height()/2;
                //Now the glass moves with the mouse
                //The logic is to deduct half of the glass's width and height from the 
                //mouse coordinates to place it with its center at the mouse coordinates
                
                //If you hover on the image now, you should see the magnifying glass in action
                $(".large").css({left: px, top: py, backgroundPosition: bgp});
            }
        }
    })
})</script>
{% endblock  %}
